doctype html
html(lang="en")
  head
    title= Title
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    script.
      var gon = !{JSON.stringify(gon)};
  body
    .container
      #chat
      // block content
    script(src='/assets/main.js')
    //- script(src='/assets/application.js')
