.fade.in {
  opacity: 1;
}

.chat {
  height: 500px;
}

.messages {
  overflow: auto;
}

.channel,
.delete, .rename,
.add-channel {
  cursor: pointer;
}

.delete:before {
  content: url(img/cross.svg);
}

.rename:before {
  content: url(img/pencil.svg);
}

.modal-backdrop.in {
  opacity: .5;
}
