.fade.in {
  opacity: 1;
}

.chat {
  height: 500px;
}

.messages {
  overflow: auto;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.delete:before {
  content: url(img/cross.svg);
}

.rename:before {
  content: url(img/pencil.svg);
}
